.sign_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.sign_cart div{
    display: flex;
    align-items: center;
}

.sign_cart span{
    text-decoration: none;
    color: #212542;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.sign_cart span:hover{
    text-decoration: underline;
}

.sign_cart a{
    text-decoration: none;
    color: #212542;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.all_cart{
    display: flex;
}
.images_cart{
    position: relative;
    display: flex;
    gap: 10px;
}

.images_cart p:hover{
    text-decoration: underline;
}

.images{
display: flex;
}

.cart{
    position: relative;
}

.ellipse{
    position: absolute;
    top: 0;
    left: 10px;
}

.ellipse span{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    position: relative;
    right: 20px;
}

.user{
    width: 18px;
}

.cart{
    width: 18px;
}