.wrapper{
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  margin: 0 auto;
  width: 70%;
}

.content{
  padding-top: 80px;
  flex: 1 1 auto;
}